[submodule "third_party/python-ddcci"]
	path = third_party/python-ddcci
	url = https://github.com/Informatic/python-ddcci
[submodule "third_party/ddcci"]
	path = third_party/ddcci
	url = https://github.com/Informatic/python-ddcci
[submodule "monitor/pyddcci"]
	path = monitor/pyddcci
	url = https://github.com/Informatic/python-ddcci
[submodule "pyddcci"]
	path = pyddcci
	url = https://github.com/Informatic/python-ddcci
